<mdb-card>
  <mdb-card-body>
    <mdb-card-title>
      <h4>BOARD</h4>
    </mdb-card-title>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1 card-wrapper" *ngFor="let char of gameService.pickedCharacters">
          <mdb-card>
            <mdb-card-body>
<!--deed place--><mdb-card-img src="./assets/icons/deed-back-vyderacka.png" alt="Card image cap"></mdb-card-img>
              <mdb-card-img [src]="characters[char].iconPath" alt="Card image cap"></mdb-card-img>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-1 card-wrapper">
          <mdb-card>
            <mdb-card-body>
              <mdb-card-img src="assets/card.jpg" alt="Card image cap"></mdb-card-img>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-1">
          <mdb-card>
            <mdb-card-body>
              zdroje
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
