<div class="container-fluid" *ngIf="gameService.joined && gameService.phase !== Phase.pick">
  <div class="row">
    <div class="col-md-4">
      <app-seat [index]="0"></app-seat>
    </div>
    <div class="col-md-4">
      <app-seat [index]="1"></app-seat>
    </div>
    <div class="col-md-4">
      <app-seat [index]="2"></app-seat>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-board></app-board>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-seat [index]="5"></app-seat>
    </div>
    <div class="col-md-4">
      <app-seat [index]="4"></app-seat>
    </div>
    <div class="col-md-4">
      <app-seat [index]="3"></app-seat>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="gameService.phase === Phase.draft">
  <app-draft></app-draft>
</div>

