<div class="container-fluid">
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title>
                <h4>Game</h4>
            </mdb-card-title>
            <div class="row">
                <div class="col-md-5">
                    <mdb-card>
                        <mdb-card-body>
                            hrdinove
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body>
                            balik
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body>
                            zdroje
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-5">
                    <mdb-card>
                        <mdb-card-body>
                            losovani
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>
<div class="container-fluid">
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title>
                <h5>crypto kral</h5>
            </mdb-card-title>
            <div class="row">
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body class="text-center">
                            <mdb-icon fas icon="crown" size="2x"></mdb-icon>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-2">
                    <mdb-card>
                        <mdb-card-body>
                            hrac
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4">
                    <mdb-card>
                        <mdb-card-body>
                            stavby
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-3">
                    <mdb-card>
                        <mdb-card-body>
                            karty
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body class="text-center">
                            1x <mdb-icon fab icon="bitcoin" size="2x"></mdb-icon>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body>
                            hero
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>        
        </mdb-card-body>
    </mdb-card>
</div>
<div class="container-fluid">
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title>
                <h5>ubozak</h5>
            </mdb-card-title>
            <div class="row">
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body class="text-center">
                            <mdb-icon fas icon="pray" size="2x"></mdb-icon>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-2">
                    <mdb-card>
                        <mdb-card-body>
                            hrac
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4">
                    <mdb-card>
                        <mdb-card-body>
                            stavby
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-3">
                    <mdb-card>
                        <mdb-card-body>
                            karty
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body class="text-center">
                            5x <mdb-icon far icon="money-bill-alt" size="2x"></mdb-icon>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body>
                            hero
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>        
        </mdb-card-body>
    </mdb-card>
</div>