<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light grey lighten-5" [containerInside]="false">

  <mdb-navbar-brand>
    <span>
      <a class="navbar-brand" href="#"><mdb-icon fab icon="fort-awesome fa-lg"></mdb-icon> Citadela</a>
    </span>
  </mdb-navbar-brand>

  <form *ngIf="!gameService.joined" class="form-inline waves-light"
        mdbWavesEffect
        [formGroup]="form">
    <div class="md-form my-0">
      <input class="form-control"
             mdbInput
             mdbValidate
             type="text"
             placeholder="Player Name"
             formControlName="name">
    </div>
    <div class="md-form my-0">
      <input class="form-control"
             mdbValidate
             type="text"
             placeholder="Server IP"
             formControlName="ip">
    </div>
    <button [disabled]="!form.valid" mdbBtn color="light" class="my-0 waves-light" type="submit" (click)="onSubmit()" mdbWavesEffect>Connect</button>
  </form>

  <button *ngIf="gameService.joined" [disabled]="" mdbBtn color="light" class="my-0 waves-light" type="submit" (click)="onSubmit()" mdbWavesEffect>Connect</button>

</mdb-navbar>
