<div class="container-fluid">
    <mdb-card>
        <mdb-card-body>
            <mdb-card-title>
                <h4>Game</h4>
            </mdb-card-title>
            <div class="row">
                <div class="col-md-5">
                    <mdb-card>
                        <mdb-card-body>
                            hrdinove
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body>
                            balik
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-1">
                    <mdb-card>
                        <mdb-card-body>
                            zdroje
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-5">
                    <mdb-card>
                        <mdb-card-body>
                            losovani
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>